<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>goodList</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1150685_p2u0ulgrejc.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/goodList.css">
    <!-- 商品展示框的样式 -->
    <link rel="stylesheet" href="../css/goodBox.css">
</head>

<body>
    <%-include('common/header.ejs')%>
    <div id="goodBanner">
        <ul class="slideList">
            <li>
                <a href="">
                    <img src="../images/fruit.jpg" alt="">
                </a>
            </li>

            <li>
                <a href="">
                    <img src="../images/jam.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/fruit1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../images/banner4.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <section id="section">
        <div id='conditionBox'>
            <span class="titleIcon iconfont icon-shaixuantiaojian"></span>
            <div class="conditions">
                <div class="region">
                    <span class="barTag">区域：</span>
                    <select name="region" id="region">
                        <option value="">默认</option>
                        <%fieldData.forEach((item)=>{%>
                        <option value="<%=item%>"><%=item%></option>
                        <%})%>
                    </select>
                </div>
                <div class="nutrition">
                    <span class="barTag">营养元素：</span>
                    <input type="text">
                </div>
                <div class="priceRange">
                    <span class="barTag">价位：</span>
                    <input class="lowest" type="text">
                    <span>--</span>
                    <input class="highest" type="text">
                </div>
                <div class="sorting">
                    <span class="barTag">排序：</span>
                    <select name="sorting" id="sorting">
                        <option value="0">默认</option>
                        <option value="1">按价格降序</option>
                        <option value="2">按价格升序</option>
                        <option value="3">按访问量</option>
                        <!-- <option value="3">按购买量</option> -->
                    </select>
                </div>
            </div>
            <div class="searchBtnBox">
                <span class="searchBtn iconfont icon-sousuo1"></span>
            </div>
        </div>
        <div id="goods">
            <div class="sort_good_boxs">
                <%goods.forEach((item)=>{%>
                <div class="sort_good_box">
                    <div class="sort_good_details">
                        <div class="imgBox">
                            <img src="../images/<%=item.image%>" alt="">
                        </div>
                        <div class="paras">
                            <div class="paras_title">
                                <div class="para_goodName"><%=item.goodName%></div>
                                <div class="sellNumBar appointBar"><span class="cellText">预约量：</span><span class="appointNum"><%=item.appointNum%></span></div>
                                <div class="sellNumBar sellBar"><span class="cellText">购买量：</span><span class="sellNum"><%=item.sellNum%></span></div>
                            </div>
                            <div class="paras_others">
                                <div class="price">
                                    <!-- 原价是最小份装的钱 -->
                                    <span class="tagSpan">售价：</span>
                                    <div class="differPrice">
                                        <span class="orinalPriceBox">
                                            <span>$</span>
                                            <span class="orinalPrice"><%=item.originalPrice%></span>
                                        </span>
                                        <span class="preferentialPriceBox">
                                            <span>$</span>
                                            <span class="preferentialPrice"><%=item.price%></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="views">
                                    <span class="viewNum"><%=item.viewNum%></span>
                                    <span class="iconfont icon-liulanjilu"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sort_good_options">
                        <span class="startTime" style="display:none"><%=item.startTime%></span>
                        <span onclick="appointment(`<%=item.goodId%>`)"
                            class="appointment iconfont icon-banshuiyuyue"></span>
                        <span onclick="addToCart(this,`<%=item.goodId%>`)"
                            class="add_to_cart iconfont icon-tubiaozhizuomoban"></span>
                        <span onclick="toQuickView(`<%=item.goodId%>`)" data-toggle='modal' data-target='#quickViewBox'
                            class="iconfont icon-kuaisuchakan" title='快速浏览'></span>
                        <span onclick="toDetails(`<%=item.goodId%>`)" class="iconfont icon-xiangqingchakan"
                            title='查看详情'></span>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
        <div id="paginationBar">
            <div>共有 <span class="totalData"><%=totalData%></span> 条数据</div>
            <ul class="pagination">
                <li onclick="preNext(1)" class="iconfont toPre icon-leftarrow"></li>
                <li key=1 onclick="changePage(1,<%=pageTotal%>)" class="pageBtnActive pageBtn">1</li>
                <%for(let i=1;i<Math.ceil(totalData/pageTotal);i++){%>
                <li onclick="changePage(<%=i+1%>,<%=pageTotal%>)" class="pageBtn"><%=i+1%></li>
                <%}%>
                <li onclick="preNext(2)" class="iconfont toNext icon-rightarrow"></li>
            </ul>
            <div class="customNumBox">
                    <span class="customNumTitle">每页显示：</span>
                    <input class="customNum" type="text" value="<%=pageTotal%>">
                <span style="width:28%;overflow:hidden;white-space:nowrap">条数据</span>
        </div>
        </div>
    </section>
    <div id="quickViewBox" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:60%" role="document" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="leftBar">
                        <div class="bigSlideBox">
                            <img src=''>
                        </div>
                        <div class="smallSlideBox">
                            <div class="smallSlide">
                                <ul class="imgUl"></ul>
                            </div>
                            <span name='pre' class="slideBtn pre iconfont icon-leftarrow"></span>
                            <span name='next' class="slideBtn next iconfont icon-rightarrow"></span>
                        </div>
                    </div>
                    <div class="rightBar">
                        <h3 class="quickview_gname"></h3>
                        <div class="priceBar">
                            <div>价格：</div>
                            <div class="prices">
                                <div class="price-original"></div>
                                <div class="price-preferential"></div>
                            </div>
                        </div>
                        <div class="good-describe"></div>
                        <div class="nutrition" style="font-size:12px;margin-bottom:2%">
                            <span>所含营养成分：</span>
                            <span class="nutritions"></span>
                        </div>
                        <div class="marketTime" style=" font-size:12px;margin-bottom:2%">
                            <span>售卖时间：</span>
                            <span class="putaway sellTime"></span>
                            <span>到</span>
                            <span class="soldOut sellTime"></span>
                        </div>
                        <div class='purchaseParas'>
                            <div class="measuringUnit" style="font-size:12px;margin-bottom:5%">
                                <span>计量单位：</span>
                                <span class="unit"></span>
                            </div>
                            <!-- <div class="choosePurchaseSize">
                                <span class="choosePurchaseSizeTitle">规格：</span>
                                <div class="chooseSizes">
                                    <div class="chooseSize min">10kg</div>
                                    <div class="chooseSize middle">20kg</div>
                                    <div class="chooseSize big">30kg</div>
                                </div>
                            </div> -->
                            <div class="choosePurchaseNum">
                                <span class="chooseNumTitle">数量：</span>
                                <div class="chooseNum">
                                    <input class="customNum" type="text" value="1">
                                    <div class="optBtnBar">
                                        <div class="optBtn minus">-</div>
                                        <div class="optBtn add">+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="purchaseOpts">
                            <div style="display:none" id="goodId"></div>
                            <div class="tocart optItem inSell">
                                <span class="iconfont icon-tubiaozhizuomoban"></span>
                                加入购物车
                            </div>
                            <div class="tocheckout optItem inSell">
                                <span class="iconfont icon-yijiangoumai"></span>
                                立即购买
                            </div>
                            <div class="toAppoint optItem unSell" style="display:none">
                                <span class="iconfont icon-banshuiyuyue"></span>
                                立即预约
                            </div>
                        </div>
                        <div class="share">
                            <span class="shareTitle">分享到：</span>
                            <div class="shareObj">
                                <span class="iconfont icon-weixin"></span>
                                <span class="iconfont icon-weixin"></span>
                            </div>
                        </div>
                    </div>
                    <span data-toggle="modal" data-target="#quickViewBox"
                        class="modalCloseBtn iconfont icon-icon-test"></span>
                </div>
            </div>
        </div>
    </div>
    <%-include('common/footer.ejs')%>
    <%-include('common/message.ejs')%>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src='js/jquery-ui.min.js'></script>
    <script src="../js/goodList.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/message.js"></script>
</body>

</html>